@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
font-family: "Open Sans", sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.gap{
    gap: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.p
{
    padding: 15px 0;
}
.top
{
    background: green;
    color: #fff;
    padding: 20px;
}
header{
    background: rgb(5, 176, 5);
    color: white;
}

.ai{
    align-items:center ;
}
.w{
    width: 100%;
    
}
.banner{
    padding: 40px;
    background: linear-gradient(green,lightgreen);
}
.left
{
    width: 70%;

}
.left h2{
    color: green;
}
.left p{
    line-height: 30px;
}
.right{
    width:30%;
    background: green;
    color: white;
    padding: 30px;
}
.cleft h3{
color: green;
}
.cleft button{
    background: red;
    color: green;
}
.r{
    background: rgb(173, 241, 173);
}
.v{
    font-weight: bold;
    background: rgb(112, 181, 112);
    color: white;
    line-height:30px ;
}
footer{
    line-height: 30px;
    background: green;
    color: white;
}
footer button{
    background: orange;
    color: white;
    padding: 15px;

}
.bottom{
    background: rgb(2, 74, 2);
    color: white;
    
}
.develop{
    background: rgb(1, 59, 1);
    color: white;
    width: 100%;
}
.para p{
    line-height: 40px;
}